*{
    padding: 0;
    margin: 0;
}


header{
    background: #D7F5DC;
    display: flex;
    justify-content: space-between;
    padding: 30px 130px;
}


nav{
    display: flex;
    align-items: center;
}
.nav-logo{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}


.agency{
    color: #F55F1D;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
  padding-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.nav-btn{
    gap: 20px;
}

.btn{
    border-radius: 10px;
    border: 1px solid #20B15A;
    padding:10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: black;
    background: none;
    cursor: pointer;
}

.btn-primary{
    background: #20B15A;
    color: white;
}

/*header section  style start*/
.header-section{
    display: flex;
    padding: 50px 100px;
    background: #D7F5DC;
    align-items: center;

}

.bg-green{
    background: #D7F5DC;
    padding-bottom: 50px;
}


.d-flex{
    display: flex;
}


.img-1{
    width: 408px;
    height: 271px;
    top: 146px;
    left: 733px;
    padding-right: 20px;
}

.img-2{
    width: 180px;
    height: 271px;
    top: 146px;
    left: 1159px;
}
.img-3{
    width: 246px;
    height: 164px;
    top: 439px;
    left: 733px;
    padding-right: 20px;
}

.img-4{
    width: 345px;
    height: 164px;
    top: 439px;
    left: 994px;
}

.mt-5{
    margin-top: 20px;
}

.header-content{
    padding-right: 20px;
}

.header-title{
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
}

.header-description{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
}


/*companies*/


.companies{
    display: flex;
 background: #F8FFF9;
    justify-content: space-around;
    padding: 30px 100px;

}

/*work section*/


.work-container{
    padding: 50px 100px;
}
.work-title{
    font-size: 20px;
    font-weight: 500;
    color: #20B15A;
    line-height: 30px;
}

.work-title-2{
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}

.work-section{
    display: flex;
    justify-content: space-around;
}

.card{
    max-width: 380px;
    border-radius: 30px;
    margin-top: 30px;
    margin-right: 20px;
    padding: 50px 30px;
    box-shadow: 5px 5px 8px 10px rgba(136, 136, 136, 0.1);
}

.card img{
    width: 90px;
    height: 90px;
}


.card-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}
.card-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 24.5px;
  margin-top: 5px;
    margin-bottom: 20px;
}


/*list style*/

.list{
    padding: 50px 100px;
}

.list-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.list-content{
    text-align: center;
    box-shadow: 5px 5px 8px 10px rgba(136, 136, 136, 0.1);
    padding: 30px;
    border-radius: 10px;
    width: 288px;
    align-items: center;

}
.list-title{
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}

.list-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

/*blog section*/

.blog{
    padding: 50px 100px;
}



.blog-container{
    display: flex;
    margin-top: 20px;
}

.blog-left{
    padding-right: 20px;

}
.blog-left img{
    width: 100%;
}

.blog-right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.blog-right img{
    width: 100%;
}


.blog-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.blog-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}
/*project section*/


.project-section{
    padding: 50px 100px;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.project-content{
    box-shadow: 5px 5px 8px 10px rgba(136, 136, 136, 0.1);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}


.project-container img{
    width: 100%;
}

.project-title{
    font-weight: 600;
    font-size: 26px;
    line-height: 40px;
}

/*contact section */

.contact-section{
    padding: 50px 100px;
}

.contact-container{
    text-align: center;
}

.form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form input{
    border: 1px solid #20B15A;
    padding: 10px;
    border-radius: 9px;
    margin-right: 5px;
}


/*footer*/

.footer-section{
    padding: 50px 100px;
    color: #F8FFF9;
    display: flex;
    justify-content: space-between;
}

.icon img{
    width: 130px;
}

.bg-dark{
    background: black;
}

.footer-title{
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
}

.footer-description{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.col-3 ul li{
    list-style: none;

}

.col-3 ul li a{
    text-decoration: none;
    color: #F8FFF9;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

.col-3 img{
    margin-top: 20px;
}

footer p{
    color: #F8FFF9;
    text-align: center;
    padding: 20px 0px;
}